<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aura-hint</key>
            <dict>
                <key>frame</key>
                <string>{{3,1657},{294,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{294,294}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>aura-hover</key>
            <dict>
                <key>frame</key>
                <string>{{341,3},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>aura-place</key>
            <dict>
                <key>frame</key>
                <string>{{341,263},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,128},{256,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>aura-selected-dark</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{334,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,89},{334,334}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>aura-selected-light</key>
            <dict>
                <key>frame</key>
                <string>{{3,341},{334,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,89},{334,334}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>block-crystal-fixed</key>
            <dict>
                <key>frame</key>
                <string>{{301,1657},{260,260}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,125},{260,260}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>block-crystal-normal</key>
            <dict>
                <key>frame</key>
                <string>{{329,679},{260,260}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,125},{260,260}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>block-crystal-shadow</key>
            <dict>
                <key>frame</key>
                <string>{{3,679},{322,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,95},{322,322}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>block-drop</key>
            <dict>
                <key>frame</key>
                <string>{{1109,937},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,141},{230,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>block-glass-fixed</key>
            <dict>
                <key>frame</key>
                <string>{{329,943},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,128},{256,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>block-glass-normal</key>
            <dict>
                <key>frame</key>
                <string>{{329,1203},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,128},{256,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>block-glass-shadow</key>
            <dict>
                <key>frame</key>
                <string>{{3,1005},{322,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,95},{322,322}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>block-mirror-fixed</key>
            <dict>
                <key>frame</key>
                <string>{{565,1651},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,128},{256,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>block-mirror-normal</key>
            <dict>
                <key>frame</key>
                <string>{{589,943},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,128},{256,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>block-mirror-shadow</key>
            <dict>
                <key>frame</key>
                <string>{{3,1005},{322,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,95},{322,322}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>block-plus-mirror-fixed</key>
            <dict>
                <key>frame</key>
                <string>{{593,677},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,128},{256,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>block-plus-mirror-normal</key>
            <dict>
                <key>frame</key>
                <string>{{589,1203},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,128},{256,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>block-plus-mirror-shadow</key>
            <dict>
                <key>frame</key>
                <string>{{3,1005},{322,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,95},{322,322}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>block-plus-stop-fixed</key>
            <dict>
                <key>frame</key>
                <string>{{825,1651},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,128},{256,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>block-plus-stop-normal</key>
            <dict>
                <key>frame</key>
                <string>{{601,3},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,128},{256,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>block-plus-stop-shadow</key>
            <dict>
                <key>frame</key>
                <string>{{3,1005},{322,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,95},{322,322}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>block-portal-fixed</key>
            <dict>
                <key>frame</key>
                <string>{{601,263},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,128},{256,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>block-portal-normal</key>
            <dict>
                <key>frame</key>
                <string>{{849,937},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,128},{256,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>block-portal-place</key>
            <dict>
                <key>frame</key>
                <string>{{853,677},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,128},{256,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>block-portal-shadow</key>
            <dict>
                <key>frame</key>
                <string>{{3,1331},{322,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,95},{322,322}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>block-stop-fixed</key>
            <dict>
                <key>frame</key>
                <string>{{849,1197},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,128},{256,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>block-stop-normal</key>
            <dict>
                <key>frame</key>
                <string>{{1085,1645},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,128},{256,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>block-stop-shadow</key>
            <dict>
                <key>frame</key>
                <string>{{3,1005},{322,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,95},{322,322}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>laser-1</key>
            <dict>
                <key>frame</key>
                <string>{{1113,689},{184,184}}</string>
                <key>offset</key>
                <string>{-36,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>laser-10</key>
            <dict>
                <key>frame</key>
                <string>{{861,3},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>laser-11</key>
            <dict>
                <key>frame</key>
                <string>{{861,263},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>laser-12</key>
            <dict>
                <key>frame</key>
                <string>{{329,1463},{256,184}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{256,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>laser-13</key>
            <dict>
                <key>frame</key>
                <string>{{1345,3},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>laser-14</key>
            <dict>
                <key>frame</key>
                <string>{{1605,3},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>laser-15</key>
            <dict>
                <key>frame</key>
                <string>{{1345,263},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>laser-2</key>
            <dict>
                <key>frame</key>
                <string>{{1109,1431},{184,184}}</string>
                <key>offset</key>
                <string>{36,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{184,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>laser-3</key>
            <dict>
                <key>frame</key>
                <string>{{589,1463},{256,184}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>laser-4</key>
            <dict>
                <key>frame</key>
                <string>{{1297,1431},{184,184}}</string>
                <key>offset</key>
                <string>{36,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,72},{184,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>laser-5</key>
            <dict>
                <key>frame</key>
                <string>{{1605,263},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>laser-6</key>
            <dict>
                <key>frame</key>
                <string>{{849,1457},{184,256}}</string>
                <key>offset</key>
                <string>{36,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{184,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>laser-7</key>
            <dict>
                <key>frame</key>
                <string>{{1345,523},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>laser-8</key>
            <dict>
                <key>frame</key>
                <string>{{1629,1293},{184,184}}</string>
                <key>offset</key>
                <string>{-36,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{184,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>laser-9</key>
            <dict>
                <key>frame</key>
                <string>{{1121,429},{184,256}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>laser-crystal-1</key>
            <dict>
                <key>frame</key>
                <string>{{341,523},{150,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,128},{150,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>laser-crystal-15</key>
            <dict>
                <key>frame</key>
                <string>{{1605,523},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,128},{256,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>laser-crystal-3</key>
            <dict>
                <key>frame</key>
                <string>{{601,523},{150,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,128},{150,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>laser-crystal-5</key>
            <dict>
                <key>frame</key>
                <string>{{1345,783},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,128},{256,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>laser-crystal-6</key>
            <dict>
                <key>frame</key>
                <string>{{1605,783},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,128},{256,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>laser-crystal-7</key>
            <dict>
                <key>frame</key>
                <string>{{1109,1171},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,128},{256,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>laser-highlight</key>
            <dict>
                <key>frame</key>
                <string>{{3,1955},{128,64}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{128,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>laser-plus-central</key>
            <dict>
                <key>frame</key>
                <string>{{1369,1043},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>laser-plus-highlight</key>
            <dict>
                <key>frame</key>
                <string>{{3,2023},{20,64}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,0},{20,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>laser-portal-0</key>
            <dict>
                <key>frame</key>
                <string>{{301,1921},{98,140}}</string>
                <key>offset</key>
                <string>{-9,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,0},{98,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>laser-portal-central</key>
            <dict>
                <key>frame</key>
                <string>{{1121,3},{210,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{210,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>source-normal</key>
            <dict>
                <key>frame</key>
                <string>{{135,1955},{54,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,101},{54,54}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>source-selected</key>
            <dict>
                <key>frame</key>
                <string>{{1121,217},{208,208}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{208,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>target-normal</key>
            <dict>
                <key>frame</key>
                <string>{{861,523},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,55},{146,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>target-selected</key>
            <dict>
                <key>frame</key>
                <string>{{1629,1043},{246,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{246,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game-blocks.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7855a3fd450b0bb7d4a2ae11683d64e1:249392d12432bf853c6c85b13b0accdf:40d35e1cf9be53611b378c65cb9341c8$</string>
            <key>textureFileName</key>
            <string>game-blocks.png</string>
        </dict>
    </dict>
</plist>
