<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{1280,1664}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,1664}}</string>
                <key>sourceSize</key>
                <string>{1280,1664}</string>
            </dict>
            <key>controller-grab</key>
            <dict>
                <key>frame</key>
                <string>{{4,1674},{278,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,117},{278,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>controller-marker</key>
            <dict>
                <key>frame</key>
                <string>{{4,1958},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,223},{66,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>foreground</key>
            <dict>
                <key>frame</key>
                <string>{{1290,4},{640,832}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,832}}</string>
                <key>sourceSize</key>
                <string>{640,832}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game-bg.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfed96640ad6a6cace5fcdbf12072cd7:e11c7e660ca782b5448e22e1ddc99e33:1d609127adfa1cf87c3222c1b0a86da2$</string>
            <key>textureFileName</key>
            <string>game-bg.png</string>
        </dict>
    </dict>
</plist>
