<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar</key>
            <dict>
                <key>frame</key>
                <string>{{125,1961},{32,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,160}}</string>
                <key>sourceSize</key>
                <string>{32,160}</string>
            </dict>
            <key>bar-marker</key>
            <dict>
                <key>frame</key>
                <string>{{65,1961},{32,54}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,54}}</string>
                <key>sourceSize</key>
                <string>{32,160}</string>
            </dict>
            <key>bg-popup</key>
            <dict>
                <key>frame</key>
                <string>{{3,905},{1052,538}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,70},{1052,538}}</string>
                <key>sourceSize</key>
                <string>{1280,640}</string>
            </dict>
            <key>bg-popup-up</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{1052,898}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,52},{1052,898}}</string>
                <key>sourceSize</key>
                <string>{1280,1000}</string>
            </dict>
            <key>button-achievement-disabled</key>
            <dict>
                <key>frame</key>
                <string>{{1405,971},{146,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{146,126}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>button-achievement-normal</key>
            <dict>
                <key>frame</key>
                <string>{{1555,971},{146,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{146,126}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>button-achievement-selected</key>
            <dict>
                <key>frame</key>
                <string>{{1705,971},{146,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{146,126}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>button-back-normal</key>
            <dict>
                <key>frame</key>
                <string>{{1489,393},{292,126}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{292,126}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>button-back-selected</key>
            <dict>
                <key>frame</key>
                <string>{{1489,523},{292,126}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{292,126}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>button-confirm-disabled</key>
            <dict>
                <key>frame</key>
                <string>{{1059,393},{426,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{426,126}}</string>
                <key>sourceSize</key>
                <string>{444,168}</string>
            </dict>
            <key>button-confirm-normal</key>
            <dict>
                <key>frame</key>
                <string>{{1059,523},{426,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{426,126}}</string>
                <key>sourceSize</key>
                <string>{444,168}</string>
            </dict>
            <key>button-confirm-selected</key>
            <dict>
                <key>frame</key>
                <string>{{1059,653},{426,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{426,126}}</string>
                <key>sourceSize</key>
                <string>{444,168}</string>
            </dict>
            <key>button-gamecenter-disabled</key>
            <dict>
                <key>frame</key>
                <string>{{961,1043},{146,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{146,126}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>button-gamecenter-normal</key>
            <dict>
                <key>frame</key>
                <string>{{1111,1043},{146,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{146,126}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>button-gamecenter-selected</key>
            <dict>
                <key>frame</key>
                <string>{{1261,1043},{146,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,19},{146,126}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>button-gamecircle-disabled</key>
            <dict>
                <key>frame</key>
                <string>{{545,1151},{146,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{146,126}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>button-gamecircle-normal</key>
            <dict>
                <key>frame</key>
                <string>{{695,1151},{146,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{146,126}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>button-gamecircle-selected</key>
            <dict>
                <key>frame</key>
                <string>{{845,1173},{146,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{146,126}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>button-hint-disabled</key>
            <dict>
                <key>frame</key>
                <string>{{1059,393},{426,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{426,126}}</string>
                <key>sourceSize</key>
                <string>{444,168}</string>
            </dict>
            <key>button-hint-normal</key>
            <dict>
                <key>frame</key>
                <string>{{1489,711},{426,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{426,126}}</string>
                <key>sourceSize</key>
                <string>{444,168}</string>
            </dict>
            <key>button-hint-selected</key>
            <dict>
                <key>frame</key>
                <string>{{1919,711},{426,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,19},{426,126}}</string>
                <key>sourceSize</key>
                <string>{444,168}</string>
            </dict>
            <key>button-left-disabled</key>
            <dict>
                <key>frame</key>
                <string>{{995,1303},{144,126}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{144,126}}</string>
                <key>sourceSize</key>
                <string>{160,168}</string>
            </dict>
            <key>button-left-normal</key>
            <dict>
                <key>frame</key>
                <string>{{545,1411},{144,126}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{144,126}}</string>
                <key>sourceSize</key>
                <string>{160,168}</string>
            </dict>
            <key>button-left-selected</key>
            <dict>
                <key>frame</key>
                <string>{{693,1411},{144,126}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{144,126}}</string>
                <key>sourceSize</key>
                <string>{160,168}</string>
            </dict>
            <key>button-level-disabled</key>
            <dict>
                <key>frame</key>
                <string>{{1829,367},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>button-level-normal</key>
            <dict>
                <key>frame</key>
                <string>{{3,2032},{168,6}}</string>
                <key>offset</key>
                <string>{0,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,162},{168,6}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>button-level-selected</key>
            <dict>
                <key>frame</key>
                <string>{{1785,539},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>button-next-disabled</key>
            <dict>
                <key>frame</key>
                <string>{{1059,393},{426,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{426,126}}</string>
                <key>sourceSize</key>
                <string>{444,168}</string>
            </dict>
            <key>button-next-highlight</key>
            <dict>
                <key>frame</key>
                <string>{{545,1035},{412,112}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{412,112}}</string>
                <key>sourceSize</key>
                <string>{444,168}</string>
            </dict>
            <key>button-next-normal</key>
            <dict>
                <key>frame</key>
                <string>{{1059,783},{426,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{426,126}}</string>
                <key>sourceSize</key>
                <string>{444,168}</string>
            </dict>
            <key>button-next-selected</key>
            <dict>
                <key>frame</key>
                <string>{{1489,841},{426,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{426,126}}</string>
                <key>sourceSize</key>
                <string>{444,168}</string>
            </dict>
            <key>button-options-disabled</key>
            <dict>
                <key>frame</key>
                <string>{{995,1173},{146,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{146,126}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>button-options-normal</key>
            <dict>
                <key>frame</key>
                <string>{{545,1281},{146,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{146,126}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>button-options-selected</key>
            <dict>
                <key>frame</key>
                <string>{{695,1281},{146,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{146,126}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>button-purchase-disabled</key>
            <dict>
                <key>frame</key>
                <string>{{1391,1101},{146,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{146,126}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>button-purchase-normal</key>
            <dict>
                <key>frame</key>
                <string>{{1145,1193},{146,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{146,126}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>button-purchase-selected</key>
            <dict>
                <key>frame</key>
                <string>{{845,1303},{146,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{146,126}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>button-reset-disabled</key>
            <dict>
                <key>frame</key>
                <string>{{1059,393},{426,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{426,126}}</string>
                <key>sourceSize</key>
                <string>{444,168}</string>
            </dict>
            <key>button-reset-normal</key>
            <dict>
                <key>frame</key>
                <string>{{545,905},{426,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{426,126}}</string>
                <key>sourceSize</key>
                <string>{444,168}</string>
            </dict>
            <key>button-reset-selected</key>
            <dict>
                <key>frame</key>
                <string>{{975,913},{426,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{426,126}}</string>
                <key>sourceSize</key>
                <string>{444,168}</string>
            </dict>
            <key>button-right-disabled</key>
            <dict>
                <key>frame</key>
                <string>{{1541,1101},{144,126}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{144,126}}</string>
                <key>sourceSize</key>
                <string>{160,168}</string>
            </dict>
            <key>button-right-normal</key>
            <dict>
                <key>frame</key>
                <string>{{1689,1101},{144,126}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{144,126}}</string>
                <key>sourceSize</key>
                <string>{160,168}</string>
            </dict>
            <key>button-right-selected</key>
            <dict>
                <key>frame</key>
                <string>{{1837,1141},{144,126}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{144,126}}</string>
                <key>sourceSize</key>
                <string>{160,168}</string>
            </dict>
            <key>button-shop-disabled</key>
            <dict>
                <key>frame</key>
                <string>{{1059,3},{766,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{766,126}}</string>
                <key>sourceSize</key>
                <string>{800,168}</string>
            </dict>
            <key>button-shop-normal</key>
            <dict>
                <key>frame</key>
                <string>{{1059,133},{766,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{766,126}}</string>
                <key>sourceSize</key>
                <string>{800,168}</string>
            </dict>
            <key>button-shop-selected</key>
            <dict>
                <key>frame</key>
                <string>{{1059,263},{766,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{766,126}}</string>
                <key>sourceSize</key>
                <string>{800,168}</string>
            </dict>
            <key>controller-menu</key>
            <dict>
                <key>frame</key>
                <string>{{3,1961},{67,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,53},{67,58}}</string>
                <key>sourceSize</key>
                <string>{67,168}</string>
            </dict>
            <key>end-shadows</key>
            <dict>
                <key>frame</key>
                <string>{{1829,3},{200,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,360}}</string>
                <key>sourceSize</key>
                <string>{200,364}</string>
            </dict>
            <key>scroll</key>
            <dict>
                <key>frame</key>
                <string>{{101,1961},{20,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,40}}</string>
                <key>sourceSize</key>
                <string>{20,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8a8e97aaed4df1a0b2db3f888c2f9b5:44bd78ca1c83675921d66daf42d42525:d8262aade98c5042ace66a849ab96659$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
