<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{640,832}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,832}}</string>
                <key>sourceSize</key>
                <string>{640,832}</string>
            </dict>
            <key>controller-grab</key>
            <dict>
                <key>frame</key>
                <string>{{4,842},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,58},{140,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>controller-marker</key>
            <dict>
                <key>frame</key>
                <string>{{976,4},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,111},{34,34}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>foreground</key>
            <dict>
                <key>frame</key>
                <string>{{650,4},{320,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,416}}</string>
                <key>sourceSize</key>
                <string>{320,416}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game-bg.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfed96640ad6a6cace5fcdbf12072cd7:e11c7e660ca782b5448e22e1ddc99e33:1d609127adfa1cf87c3222c1b0a86da2$</string>
            <key>textureFileName</key>
            <string>game-bg.png</string>
        </dict>
    </dict>
</plist>
