<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aura-hint</key>
            <dict>
                <key>frame</key>
                <string>{{3,835},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{146,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>aura-hover</key>
            <dict>
                <key>frame</key>
                <string>{{173,3},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>aura-place</key>
            <dict>
                <key>frame</key>
                <string>{{173,135},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,64},{128,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>aura-selected-dark</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,45},{166,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>aura-selected-light</key>
            <dict>
                <key>frame</key>
                <string>{{3,173},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,45},{166,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>block-crystal-fixed</key>
            <dict>
                <key>frame</key>
                <string>{{153,835},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,63},{130,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>block-crystal-normal</key>
            <dict>
                <key>frame</key>
                <string>{{167,343},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,63},{130,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>block-crystal-shadow</key>
            <dict>
                <key>frame</key>
                <string>{{3,343},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,48},{160,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>block-drop</key>
            <dict>
                <key>frame</key>
                <string>{{825,423},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,70},{116,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>block-glass-fixed</key>
            <dict>
                <key>frame</key>
                <string>{{167,477},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,64},{128,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>block-glass-normal</key>
            <dict>
                <key>frame</key>
                <string>{{167,609},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,64},{128,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>block-glass-shadow</key>
            <dict>
                <key>frame</key>
                <string>{{3,507},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,48},{160,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>block-mirror-fixed</key>
            <dict>
                <key>frame</key>
                <string>{{287,819},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,64},{128,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>block-mirror-normal</key>
            <dict>
                <key>frame</key>
                <string>{{299,477},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,64},{128,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>block-mirror-shadow</key>
            <dict>
                <key>frame</key>
                <string>{{3,507},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,48},{160,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>block-plus-mirror-fixed</key>
            <dict>
                <key>frame</key>
                <string>{{301,267},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,64},{128,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>block-plus-mirror-normal</key>
            <dict>
                <key>frame</key>
                <string>{{299,609},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,64},{128,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>block-plus-mirror-shadow</key>
            <dict>
                <key>frame</key>
                <string>{{3,507},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,48},{160,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>block-plus-stop-fixed</key>
            <dict>
                <key>frame</key>
                <string>{{305,3},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,64},{128,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>block-plus-stop-normal</key>
            <dict>
                <key>frame</key>
                <string>{{305,135},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,64},{128,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>block-plus-stop-shadow</key>
            <dict>
                <key>frame</key>
                <string>{{3,507},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,48},{160,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>block-portal-fixed</key>
            <dict>
                <key>frame</key>
                <string>{{419,741},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,64},{128,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>block-portal-normal</key>
            <dict>
                <key>frame</key>
                <string>{{419,873},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,64},{128,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>block-portal-place</key>
            <dict>
                <key>frame</key>
                <string>{{431,477},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,64},{128,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>block-portal-shadow</key>
            <dict>
                <key>frame</key>
                <string>{{3,671},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,48},{160,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>block-stop-fixed</key>
            <dict>
                <key>frame</key>
                <string>{{431,609},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,64},{128,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>block-stop-normal</key>
            <dict>
                <key>frame</key>
                <string>{{433,267},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,64},{128,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>block-stop-shadow</key>
            <dict>
                <key>frame</key>
                <string>{{3,507},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,48},{160,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>laser-1</key>
            <dict>
                <key>frame</key>
                <string>{{695,599},{92,92}}</string>
                <key>offset</key>
                <string>{-18,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>laser-10</key>
            <dict>
                <key>frame</key>
                <string>{{437,3},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>laser-11</key>
            <dict>
                <key>frame</key>
                <string>{{437,135},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>laser-12</key>
            <dict>
                <key>frame</key>
                <string>{{833,135},{128,92}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{128,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>laser-13</key>
            <dict>
                <key>frame</key>
                <string>{{551,741},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>laser-14</key>
            <dict>
                <key>frame</key>
                <string>{{551,873},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>laser-15</key>
            <dict>
                <key>frame</key>
                <string>{{563,399},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>laser-2</key>
            <dict>
                <key>frame</key>
                <string>{{911,543},{92,92}}</string>
                <key>offset</key>
                <string>{18,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>laser-3</key>
            <dict>
                <key>frame</key>
                <string>{{833,231},{128,92}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>laser-4</key>
            <dict>
                <key>frame</key>
                <string>{{911,639},{92,92}}</string>
                <key>offset</key>
                <string>{18,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{92,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>laser-5</key>
            <dict>
                <key>frame</key>
                <string>{{565,267},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>laser-6</key>
            <dict>
                <key>frame</key>
                <string>{{697,267},{92,128}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{92,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>laser-7</key>
            <dict>
                <key>frame</key>
                <string>{{563,531},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>laser-8</key>
            <dict>
                <key>frame</key>
                <string>{{791,651},{92,92}}</string>
                <key>offset</key>
                <string>{-18,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{92,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>laser-9</key>
            <dict>
                <key>frame</key>
                <string>{{829,327},{92,128}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>laser-crystal-1</key>
            <dict>
                <key>frame</key>
                <string>{{167,741},{74,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,64},{74,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>laser-crystal-15</key>
            <dict>
                <key>frame</key>
                <string>{{569,3},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,64},{128,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>laser-crystal-3</key>
            <dict>
                <key>frame</key>
                <string>{{301,399},{74,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,64},{74,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>laser-crystal-5</key>
            <dict>
                <key>frame</key>
                <string>{{569,135},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,64},{128,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>laser-crystal-6</key>
            <dict>
                <key>frame</key>
                <string>{{701,3},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,64},{128,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>laser-crystal-7</key>
            <dict>
                <key>frame</key>
                <string>{{833,3},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,64},{128,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>laser-highlight</key>
            <dict>
                <key>frame</key>
                <string>{{3,985},{64,32}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>laser-plus-central</key>
            <dict>
                <key>frame</key>
                <string>{{701,135},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>laser-plus-highlight</key>
            <dict>
                <key>frame</key>
                <string>{{71,985},{8,32}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{8,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>laser-portal-0</key>
            <dict>
                <key>frame</key>
                <string>{{153,969},{50,70}}</string>
                <key>offset</key>
                <string>{-5,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{50,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>laser-portal-central</key>
            <dict>
                <key>frame</key>
                <string>{{695,491},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{104,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>source-normal</key>
            <dict>
                <key>frame</key>
                <string>{{83,985},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,51},{26,26}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>source-selected</key>
            <dict>
                <key>frame</key>
                <string>{{803,543},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{104,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>target-normal</key>
            <dict>
                <key>frame</key>
                <string>{{173,267},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,28},{72,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>target-selected</key>
            <dict>
                <key>frame</key>
                <string>{{697,363},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game-blocks.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7855a3fd450b0bb7d4a2ae11683d64e1:249392d12432bf853c6c85b13b0accdf:40d35e1cf9be53611b378c65cb9341c8$</string>
            <key>textureFileName</key>
            <string>game-blocks.png</string>
        </dict>
    </dict>
</plist>
