<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar</key>
            <dict>
                <key>frame</key>
                <string>{{71,987},{16,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,80}}</string>
                <key>sourceSize</key>
                <string>{16,80}</string>
            </dict>
            <key>bar-marker</key>
            <dict>
                <key>frame</key>
                <string>{{37,987},{16,28}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,28}}</string>
                <key>sourceSize</key>
                <string>{16,80}</string>
            </dict>
            <key>bg-popup</key>
            <dict>
                <key>frame</key>
                <string>{{3,457},{526,270}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,34},{526,270}}</string>
                <key>sourceSize</key>
                <string>{640,320}</string>
            </dict>
            <key>bg-popup-up</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{526,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,25},{526,450}}</string>
                <key>sourceSize</key>
                <string>{640,500}</string>
            </dict>
            <key>button-achievement-disabled</key>
            <dict>
                <key>frame</key>
                <string>{{337,831},{74,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{74,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button-achievement-normal</key>
            <dict>
                <key>frame</key>
                <string>{{405,831},{74,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{74,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button-achievement-selected</key>
            <dict>
                <key>frame</key>
                <string>{{427,909},{74,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{74,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button-back-normal</key>
            <dict>
                <key>frame</key>
                <string>{{751,207},{146,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{146,64}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>button-back-selected</key>
            <dict>
                <key>frame</key>
                <string>{{277,953},{146,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{146,64}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>button-confirm-disabled</key>
            <dict>
                <key>frame</key>
                <string>{{533,207},{214,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{214,64}}</string>
                <key>sourceSize</key>
                <string>{222,84}</string>
            </dict>
            <key>button-confirm-normal</key>
            <dict>
                <key>frame</key>
                <string>{{533,275},{214,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{214,64}}</string>
                <key>sourceSize</key>
                <string>{222,84}</string>
            </dict>
            <key>button-confirm-selected</key>
            <dict>
                <key>frame</key>
                <string>{{751,275},{214,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{214,64}}</string>
                <key>sourceSize</key>
                <string>{222,84}</string>
            </dict>
            <key>button-gamecenter-disabled</key>
            <dict>
                <key>frame</key>
                <string>{{345,525},{74,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{74,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button-gamecenter-normal</key>
            <dict>
                <key>frame</key>
                <string>{{345,603},{74,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{74,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button-gamecenter-selected</key>
            <dict>
                <key>frame</key>
                <string>{{413,525},{74,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{74,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button-gamecircle-disabled</key>
            <dict>
                <key>frame</key>
                <string>{{413,603},{74,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{74,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button-gamecircle-normal</key>
            <dict>
                <key>frame</key>
                <string>{{425,681},{74,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{74,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button-gamecircle-selected</key>
            <dict>
                <key>frame</key>
                <string>{{425,759},{74,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{74,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button-hint-disabled</key>
            <dict>
                <key>frame</key>
                <string>{{533,207},{214,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{214,64}}</string>
                <key>sourceSize</key>
                <string>{222,84}</string>
            </dict>
            <key>button-hint-normal</key>
            <dict>
                <key>frame</key>
                <string>{{533,343},{214,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{214,64}}</string>
                <key>sourceSize</key>
                <string>{222,84}</string>
            </dict>
            <key>button-hint-selected</key>
            <dict>
                <key>frame</key>
                <string>{{751,343},{214,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{214,64}}</string>
                <key>sourceSize</key>
                <string>{222,84}</string>
            </dict>
            <key>button-left-disabled</key>
            <dict>
                <key>frame</key>
                <string>{{541,827},{72,64}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{72,64}}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>button-left-normal</key>
            <dict>
                <key>frame</key>
                <string>{{563,903},{72,64}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{72,64}}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>button-left-selected</key>
            <dict>
                <key>frame</key>
                <string>{{549,479},{72,64}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{72,64}}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>button-level-disabled</key>
            <dict>
                <key>frame</key>
                <string>{{921,187},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button-level-normal</key>
            <dict>
                <key>frame</key>
                <string>{{57,1011},{84,4}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,80},{84,4}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button-level-selected</key>
            <dict>
                <key>frame</key>
                <string>{{337,743},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button-next-disabled</key>
            <dict>
                <key>frame</key>
                <string>{{533,207},{214,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{214,64}}</string>
                <key>sourceSize</key>
                <string>{222,84}</string>
            </dict>
            <key>button-next-highlight</key>
            <dict>
                <key>frame</key>
                <string>{{277,743},{206,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{206,56}}</string>
                <key>sourceSize</key>
                <string>{222,84}</string>
            </dict>
            <key>button-next-normal</key>
            <dict>
                <key>frame</key>
                <string>{{533,411},{214,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{214,64}}</string>
                <key>sourceSize</key>
                <string>{222,84}</string>
            </dict>
            <key>button-next-selected</key>
            <dict>
                <key>frame</key>
                <string>{{277,457},{214,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{214,64}}</string>
                <key>sourceSize</key>
                <string>{222,84}</string>
            </dict>
            <key>button-options-disabled</key>
            <dict>
                <key>frame</key>
                <string>{{473,827},{74,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{74,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button-options-normal</key>
            <dict>
                <key>frame</key>
                <string>{{495,905},{74,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{74,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button-options-selected</key>
            <dict>
                <key>frame</key>
                <string>{{481,525},{74,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{74,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button-purchase-disabled</key>
            <dict>
                <key>frame</key>
                <string>{{481,603},{74,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{74,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button-purchase-normal</key>
            <dict>
                <key>frame</key>
                <string>{{493,681},{74,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{74,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button-purchase-selected</key>
            <dict>
                <key>frame</key>
                <string>{{503,759},{74,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{74,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button-reset-disabled</key>
            <dict>
                <key>frame</key>
                <string>{{533,207},{214,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{214,64}}</string>
                <key>sourceSize</key>
                <string>{222,84}</string>
            </dict>
            <key>button-reset-normal</key>
            <dict>
                <key>frame</key>
                <string>{{751,411},{214,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{214,64}}</string>
                <key>sourceSize</key>
                <string>{222,84}</string>
            </dict>
            <key>button-reset-selected</key>
            <dict>
                <key>frame</key>
                <string>{{277,525},{214,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{214,64}}</string>
                <key>sourceSize</key>
                <string>{222,84}</string>
            </dict>
            <key>button-right-disabled</key>
            <dict>
                <key>frame</key>
                <string>{{549,555},{72,64}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{72,64}}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>button-right-normal</key>
            <dict>
                <key>frame</key>
                <string>{{561,631},{72,64}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{72,64}}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>button-right-selected</key>
            <dict>
                <key>frame</key>
                <string>{{581,707},{72,64}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{72,64}}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>button-shop-disabled</key>
            <dict>
                <key>frame</key>
                <string>{{533,3},{384,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{384,64}}</string>
                <key>sourceSize</key>
                <string>{400,84}</string>
            </dict>
            <key>button-shop-normal</key>
            <dict>
                <key>frame</key>
                <string>{{533,71},{384,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{384,64}}</string>
                <key>sourceSize</key>
                <string>{400,84}</string>
            </dict>
            <key>button-shop-selected</key>
            <dict>
                <key>frame</key>
                <string>{{533,139},{384,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{384,64}}</string>
                <key>sourceSize</key>
                <string>{400,84}</string>
            </dict>
            <key>controller-menu</key>
            <dict>
                <key>frame</key>
                <string>{{3,987},{34,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,84}</string>
            </dict>
            <key>end-shadows</key>
            <dict>
                <key>frame</key>
                <string>{{921,3},{100,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,180}}</string>
                <key>sourceSize</key>
                <string>{100,182}</string>
            </dict>
            <key>scroll</key>
            <dict>
                <key>frame</key>
                <string>{{57,987},{10,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{10,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8a8e97aaed4df1a0b2db3f888c2f9b5:44bd78ca1c83675921d66daf42d42525:d8262aade98c5042ace66a849ab96659$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
