<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aura-hint</key>
            <dict>
                <key>frame</key>
                <string>{{3,427},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{73,73}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>aura-hover</key>
            <dict>
                <key>frame</key>
                <string>{{89,3},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>aura-place</key>
            <dict>
                <key>frame</key>
                <string>{{89,71},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{64,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>aura-selected-dark</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{82,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>aura-selected-light</key>
            <dict>
                <key>frame</key>
                <string>{{3,89},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{82,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>block-crystal-fixed</key>
            <dict>
                <key>frame</key>
                <string>{{80,427},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{66,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>block-crystal-normal</key>
            <dict>
                <key>frame</key>
                <string>{{87,175},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{66,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>block-crystal-shadow</key>
            <dict>
                <key>frame</key>
                <string>{{3,175},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{80,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>block-drop</key>
            <dict>
                <key>frame</key>
                <string>{{291,3},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{58,58}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>block-glass-fixed</key>
            <dict>
                <key>frame</key>
                <string>{{157,3},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{64,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>block-glass-normal</key>
            <dict>
                <key>frame</key>
                <string>{{157,71},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{64,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>block-glass-shadow</key>
            <dict>
                <key>frame</key>
                <string>{{3,259},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{80,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>block-mirror-fixed</key>
            <dict>
                <key>frame</key>
                <string>{{87,245},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{64,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>block-mirror-normal</key>
            <dict>
                <key>frame</key>
                <string>{{87,313},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{64,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>block-mirror-shadow</key>
            <dict>
                <key>frame</key>
                <string>{{3,259},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{80,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>block-plus-mirror-fixed</key>
            <dict>
                <key>frame</key>
                <string>{{150,421},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{64,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>block-plus-mirror-normal</key>
            <dict>
                <key>frame</key>
                <string>{{155,245},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{64,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>block-plus-mirror-shadow</key>
            <dict>
                <key>frame</key>
                <string>{{3,259},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{80,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>block-plus-stop-fixed</key>
            <dict>
                <key>frame</key>
                <string>{{157,157},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{64,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>block-plus-stop-normal</key>
            <dict>
                <key>frame</key>
                <string>{{155,313},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{64,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>block-plus-stop-shadow</key>
            <dict>
                <key>frame</key>
                <string>{{3,259},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{80,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>block-portal-fixed</key>
            <dict>
                <key>frame</key>
                <string>{{218,421},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{64,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>block-portal-normal</key>
            <dict>
                <key>frame</key>
                <string>{{223,225},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{64,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>block-portal-place</key>
            <dict>
                <key>frame</key>
                <string>{{223,293},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{64,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>block-portal-shadow</key>
            <dict>
                <key>frame</key>
                <string>{{3,343},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{80,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>block-stop-fixed</key>
            <dict>
                <key>frame</key>
                <string>{{286,417},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{64,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>block-stop-normal</key>
            <dict>
                <key>frame</key>
                <string>{{354,3},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{64,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>block-stop-shadow</key>
            <dict>
                <key>frame</key>
                <string>{{3,259},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{80,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>laser-1</key>
            <dict>
                <key>frame</key>
                <string>{{361,189},{46,46}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser-10</key>
            <dict>
                <key>frame</key>
                <string>{{225,137},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser-11</key>
            <dict>
                <key>frame</key>
                <string>{{422,3},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser-12</key>
            <dict>
                <key>frame</key>
                <string>{{341,71},{64,46}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{64,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser-13</key>
            <dict>
                <key>frame</key>
                <string>{{291,205},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser-14</key>
            <dict>
                <key>frame</key>
                <string>{{293,133},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser-15</key>
            <dict>
                <key>frame</key>
                <string>{{291,273},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser-2</key>
            <dict>
                <key>frame</key>
                <string>{{359,239},{46,46}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser-3</key>
            <dict>
                <key>frame</key>
                <string>{{361,121},{64,46}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser-4</key>
            <dict>
                <key>frame</key>
                <string>{{359,289},{46,46}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{46,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser-5</key>
            <dict>
                <key>frame</key>
                <string>{{333,341},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser-6</key>
            <dict>
                <key>frame</key>
                <string>{{291,65},{46,64}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser-7</key>
            <dict>
                <key>frame</key>
                <string>{{354,409},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser-8</key>
            <dict>
                <key>frame</key>
                <string>{{409,275},{46,46}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{46,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser-9</key>
            <dict>
                <key>frame</key>
                <string>{{225,69},{46,64}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser-crystal-1</key>
            <dict>
                <key>frame</key>
                <string>{{87,381},{36,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,32},{36,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>laser-crystal-15</key>
            <dict>
                <key>frame</key>
                <string>{{422,71},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{64,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>laser-crystal-3</key>
            <dict>
                <key>frame</key>
                <string>{{155,381},{36,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,32},{36,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>laser-crystal-5</key>
            <dict>
                <key>frame</key>
                <string>{{422,139},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{64,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>laser-crystal-6</key>
            <dict>
                <key>frame</key>
                <string>{{422,207},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{64,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>laser-crystal-7</key>
            <dict>
                <key>frame</key>
                <string>{{401,339},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{64,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>laser-highlight</key>
            <dict>
                <key>frame</key>
                <string>{{89,139},{32,16}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{32,16}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser-plus-central</key>
            <dict>
                <key>frame</key>
                <string>{{422,407},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser-plus-highlight</key>
            <dict>
                <key>frame</key>
                <string>{{3,504},{4,16}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{4,16}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser-portal-0</key>
            <dict>
                <key>frame</key>
                <string>{{109,139},{24,36}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser-portal-central</key>
            <dict>
                <key>frame</key>
                <string>{{279,361},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{52,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>source-normal</key>
            <dict>
                <key>frame</key>
                <string>{{149,139},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{14,14}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>source-selected</key>
            <dict>
                <key>frame</key>
                <string>{{223,361},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{52,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>target-normal</key>
            <dict>
                <key>frame</key>
                <string>{{469,275},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{36,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>target-selected</key>
            <dict>
                <key>frame</key>
                <string>{{225,3},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game-blocks.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7855a3fd450b0bb7d4a2ae11683d64e1:249392d12432bf853c6c85b13b0accdf:40d35e1cf9be53611b378c65cb9341c8$</string>
            <key>textureFileName</key>
            <string>game-blocks.png</string>
        </dict>
    </dict>
</plist>
